/*---------------------------------------------------------------
Header
-----------------------------------------------------------------*/
header{
    background-color: blue;
}

/*---------------------------------------------------------------
Footer
-----------------------------------------------------------------*/
footer {
    position: fixed;
    bottom: 0;
    margin-bottom : 0;
}

footer {
    background-color: blue;
    color: white;

}


#Ajuster {
    color: white;
    position: fixed;
    right: 80em;

}
footer img.logo {
    position: relative;
    top: -1em;
}

footer .col-img {
    text-align: right;


}

.logo {
    width : 150px;
    height: 150px;
}

address{
    text-align: left;
    font-size: 75%;
}
/*---------------------------------------------------------------
Les Cartes
-----------------------------------------------------------------*/

.card{
    display: inline-block;
}

#AjusterCarte{
    max-width: 1000px;
}

#AjusterCarte{
    float: right
}

.card{
    margin-left: 5em;
    margin-bottom: 5em;
}